<h2><a href="{{context}}{{property.[@type]}}">{{property.title}}</a> </h2>
<h3>Property details</h3>
<p>{{property.description}}</p>


<p><b>Type:</b> {{property.type}}</p>
<p><b>Read only:</b> {{property.readOnly}}</p>
<p><b>Observable:</b> {{property.observable}}</p>
<p><b>Write only:</b> {{property.writeOnly}}</p>


<h3>Forms</h3>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>URL</th>
        <th scope="col">Content Type</th>
        <th scope="col">Operations</th>
        <th scope="col">Access</th>
    </tr>
    </thead>

    <tbody>
    {{#each property.forms}}
        <tr>
            <td>{{href}}</td>
            <td>{{contentType}}</td>
            <td>{{op}}</td>
            <td>{{secure}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>