<h2><a href="{{model.[@context]}}{{model.[@type]}}">{{model.name}}</a> </h2>
<p>Version of TD instance {{model.version.instance}}</p>
<h3>Description</h3>
<p>{{model.description}}</p>
<h3>Security</h3>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Type</th>
        <th scope="col">Security mechanism</th>
        <th scope="col">Description</th>
    </tr>
    </thead>

    <tbody>
    {{#each model.securityDefinitions}}
        <tr>
            <td>{{@key}}</td>
            <td>{{this.scheme}}</td>
            <td>{{this.description}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>



<h3>Properties</h3>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Property</th>
        <th scope="col">Type</th>
        <th scope="col">Description</th>
        <th scope="col">ReadOnly</th>
    </tr>
    </thead>

    <tbody>
        {{#each model.properties}}
            <tr>

                <td><a href="{{../baseUrl}}/{{@key}}">{{this.title}}</a></td>
                <td>{{this.type}}</td>
                <td>{{this.description}}</td>
                <td>{{this.readOnly}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<h3>Forms</h3>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>URL</th>
        <th scope="col">Content Type</th>
        <th scope="col">Operations</th>
        <th scope="col">Access</th>
    </tr>
    </thead>

    <tbody>
    {{#each model.forms}}
        <tr>
            <td>{{href}}</td>
            <td>{{contentType}}</td>
            <td>{{op}}</td>
            <td>{{secure}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>