<h1>{{airQuality.name}}</h1>
<h3>Description</h3>
{{airQuality.description}}
<h2>Properties</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Property</th>
        <th scope="col">Type</th>
        <th scope="col">Description</th>
        <th scope="col">ReadOnly</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{airQuality.properties.name.title}} </th>
            <td>{{airQuality.properties.name.type}}</td>
            <td>{{airQuality.properties.name.description}}</td>
            <td>{{airQuality.properties.name.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{airQuality.properties.user.title}} </th>
            <td>{{airQuality.properties.user.type}}</td>
            <td>{{airQuality.properties.user.description}}</td>
            <td>{{airQuality.properties.name.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{airQuality.properties.address.title}}</th>
            <td>{{airQuality.properties.address.type}}</td>
            <td>{{airQuality.properties.address.description}}</td>
            <td>{{airQuality.properties.name.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{airQuality.properties.location.title}} </th>
            <td>{{airQuality.properties.location.type}}</td>
            <td>{{airQuality.properties.location.description}}</td>
            <td>{{airQuality.properties.name.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{airQuality.properties.time.title}}</th>
            <td>{{airQuality.properties.time.type}}</td>
            <td>{{airQuality.properties.time.description}}</td>
            <td>{{airQuality.properties.name.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{airQuality.properties.humidity.title}}</th>
            <td>{{airQuality.properties.humidity.type}}</td>
            <td>{{airQuality.properties.humidity.description}}</td>
            <td>{{airQuality.properties.name.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{airQuality.properties.temp.title}}</th>
            <td>{{airQuality.properties.temp.type}}</td>
            <td>{{airQuality.properties.temp.description}}</td>
            <td>{{airQuality.properties.name.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{airQuality.properties.particle.title}}</th>
            <td>{{airQuality.properties.particle.type}}</td>
            <td>{{airQuality.properties.particle.description}}</td>
            <td>{{airQuality.properties.name.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{airQuality.properties.voc.title}}</th>
            <td>{{airQuality.properties.voc.type}}</td>
            <td>{{airQuality.properties.voc.description}}</td>
            <td>{{airQuality.properties.name.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{airQuality.properties.pollution.title}} </td>
            <td>{{airQuality.properties.pollution.type}}</td>
            <td>{{airQuality.properties.pollution.description}}</td>
            <td>{{airQuality.properties.name.readOnly}}</td>
        </tr>
    </tbody>
</table>

