<h1>{{airQuality.name}}</h1>
<h3>Description</h3>
{{airQuality.description}}
<h2>Properties</h2>


<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Property</th>
        <th scope="col">Type</th>
        <th scope="col">Description</th>
        <th scope="col">Access</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{airQuality.properties.name.label}} </th>
            <td>{{airQuality.properties.name.type}}</td>
            <td>{{airQuality.properties.name.description}}</td>
            <td>read{{airQuality.properties.name.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{airQuality.properties.user.label}} </th>
            <td>{{airQuality.properties.user.type}}</td>
            <td>{{airQuality.properties.user.description}}</td>
        </tr>
        <tr>
            <th scope="row">{{airQuality.properties.address.label}}</th>
            <td>{{airQuality.properties.address.type}}</td>
            <td>{{airQuality.properties.address.description}}</td>
        </tr>
        <tr>
            <th scope="row">{{airQuality.properties.location.label}} </th>
            <td>{{airQuality.properties.location.type}}</td>
            <td>{{airQuality.properties.location.description}}</td>
        </tr>
        <tr>
            <th scope="row">{{airQuality.properties.time.label}}</th>
            <td>{{airQuality.properties.time.type}}</td>
            <td>{{airQuality.properties.time.description}}</td>
        </tr>
        <tr>
            <th scope="row">{{airQuality.properties.humidity.label}}</th>
            <td>{{airQuality.properties.humidity.type}}</td>
            <td>{{airQuality.properties.humidity.description}}</td>
        </tr>
        <tr>
            <th scope="row">{{airQuality.properties.temp.label}}</th>
            <td>{{airQuality.properties.temp.type}}</td>
            <td>{{airQuality.properties.temp.description}}</td>
        </tr>
        <tr>
            <th scope="row">{{airQuality.properties.particle.label}}</th>
            <td>{{airQuality.properties.particle.type}}</td>
            <td>{{airQuality.properties.particle.description}}</td>
        </tr>
        <tr>
            <th scope="row">{{airQuality.properties.voc.label}}</th>
            <td>{{airQuality.properties.voc.type}}</td>
            <td>{{airQuality.properties.voc.description}}</td>
        </tr>
        <tr>
            <th scope="row">{{airQuality.properties.pollution.label}} </td>
            <td>{{airQuality.properties.pollution.type}}</td>
            <td>{{airQuality.properties.pollution.description}}</td>
        </tr>
    </tbody>
</table>

