<h1>{{cushion.name}}</h1>
<h3>Description</h3>
{{cushion.description}}
<h2>Properties</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Property</th>
        <th scope="col">Type</th>
        <th scope="col">Description</th>
        <th scope="col">ReadOnly</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">{{cushion.properties.name.title}} </th>
        <td>{{cushion.properties.name.type}}</td>
        <td>{{cushion.properties.name.description}}</td>
        <td>{{cushion.properties.name.readOnly}}</td>
    </tr>
    <tr>
        <th scope="row">{{cushion.properties.user.title}} </th>
        <td>{{cushion.properties.user.type}}</td>
        <td>{{cushion.properties.user.description}}</td>
        <td>{{cushion.properties.user.readOnly}}</td>
    </tr>
    <tr>
        <th scope="row">{{cushion.properties.address.title}}</th>
        <td>{{cushion.properties.address.type}}</td>
        <td>{{cushion.properties.address.description}}</td>
        <td>{{cushion.properties.address.readOnly}}</td>
    </tr>
    <tr>
        <th scope="row">{{cushion.properties.room.title}} </th>
        <td>{{cushion.properties.room.type}}</td>
        <td>{{cushion.properties.room.description}}</td>
        <td>{{cushion.properties.room.readOnly}}</td>
    </tr>
    <tr>
        <th scope="row">{{cushion.properties.location.title}} </th>
        <td>{{cushion.properties.location.type}}</td>
        <td>{{cushion.properties.location.description}}</td>
        <td>{{cushion.properties.location.readOnly}}</td>
    </tr>
    <tr>
        <th scope="row">{{cushion.properties.time.title}}</th>
        <td>{{cushion.properties.time.type}}</td>
        <td>{{cushion.properties.time.description}}</td>
        <td>{{cushion.properties.time.readOnly}}</td>
    </tr>
    <tr>
        <th scope="row">{{cushion.properties.humidity.title}}</th>
        <td>{{cushion.properties.humidity.type}}</td>
        <td>{{cushion.properties.humidity.description}}</td>
        <td>{{cushion.properties.humidity.readOnly}}</td>
    </tr>
    <tr>
        <th scope="row">{{cushion.properties.temp.title}}</th>
        <td>{{cushion.properties.temp.type}}</td>
        <td>{{cushion.properties.temp.description}}</td>
        <td>{{cushion.properties.temp.readOnly}}</td>
    </tr>
    <tr>
        <th scope="row">{{cushion.properties.particle.title}}</th>
        <td>{{cushion.properties.particle.type}}</td>
        <td>{{cushion.properties.particle.description}}</td>
        <td>{{cushion.properties.particle.readOnly}}</td>
    </tr>
    <tr>
        <th scope="row">{{cushion.properties.voc.title}}</th>
        <td>{{cushion.properties.voc.type}}</td>
        <td>{{cushion.properties.voc.description}}</td>
        <td>{{cushion.properties.voc.readOnly}}</td>
    </tr>
    <tr>
        <th scope="row">{{cushion.properties.pollution.title}} </td>
        <td>{{cushion.properties.pollution.type}}</td>
        <td>{{cushion.properties.pollution.description}}</td>
        <td>{{cushion.properties.pollution.readOnly}}</td>
    </tr>
    </tbody>
</table>

