<h1>{{energyApplianceMonitor.name}}</h1>
<h3>Description</h3>
{{energyApplianceMonitor.description}}
<h2>Properties</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Property</th>
        <th scope="col">Type</th>
        <th scope="col">Description</th>
        <th scope="col">ReadOnly</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{energyApplianceMonitor.properties.name.title}} </th>
            <td>{{energyApplianceMonitor.properties.name.type}}</td>
            <td>{{energyApplianceMonitor.properties.name.description}}</td>
            <td>{{energyApplianceMonitor.properties.name.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{energyApplianceMonitor.properties.user.title}} </th>
            <td>{{energyApplianceMonitor.properties.user.type}}</td>
            <td>{{energyApplianceMonitor.properties.user.description}}</td>
            <td>{{energyApplianceMonitor.properties.user.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{energyApplianceMonitor.properties.address.title}}</th>
            <td>{{energyApplianceMonitor.properties.address.type}}</td>
            <td>{{energyApplianceMonitor.properties.address.description}}</td>
            <td>{{energyApplianceMonitor.properties.address.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{energyApplianceMonitor.properties.room.title}} </th>
            <td>{{energyApplianceMonitor.properties.room.type}}</td>
            <td>{{energyApplianceMonitor.properties.room.description}}</td>
            <td>{{energyApplianceMonitor.properties.room.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{energyApplianceMonitor.properties.location.title}} </th>
            <td>{{energyApplianceMonitor.properties.location.type}}</td>
            <td>{{energyApplianceMonitor.properties.location.description}}</td>
            <td>{{energyApplianceMonitor.properties.location.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{energyApplianceMonitor.properties.time.title}}</th>
            <td>{{energyApplianceMonitor.properties.time.type}}</td>
            <td>{{energyApplianceMonitor.properties.time.description}}</td>
            <td>{{energyApplianceMonitor.properties.time.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{energyApplianceMonitor.properties.applianceId.title}}</th>
            <td>{{energyApplianceMonitor.properties.applianceId.type}}</td>
            <td>{{energyApplianceMonitor.properties.applianceId.description}}</td>
            <td>{{energyApplianceMonitor.properties.applianceId.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{energyApplianceMonitor.properties.activePower.title}}</th>
            <td>{{energyApplianceMonitor.properties.activePower.type}}</td>
            <td>{{energyApplianceMonitor.properties.activePower.description}}</td>
            <td>{{energyApplianceMonitor.properties.activePower.readOnly}}</td>
        </tr>
    </tbody>
</table>

