<h1>{{ipCamera.name}}</h1>
<h3>Description</h3>
{{ipCamera.description}}
<h2>Properties</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Property</th>
        <th scope="col">Type</th>
        <th scope="col">Description</th>
        <th scope="col">ReadOnly</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{ipCamera.properties.name.title}} </th>
            <td>{{ipCamera.properties.name.type}}</td>
            <td>{{ipCamera.properties.name.description}}</td>
            <td>{{ipCamera.properties.name.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{ipCamera.properties.user.title}} </th>
            <td>{{ipCamera.properties.user.type}}</td>
            <td>{{ipCamera.properties.user.description}}</td>
            <td>{{ipCamera.properties.user.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{ipCamera.properties.address.title}}</th>
            <td>{{ipCamera.properties.address.type}}</td>
            <td>{{ipCamera.properties.address.description}}</td>
            <td>{{ipCamera.properties.address.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{energyMonitor.properties.room.title}} </th>
            <td>{{energyMonitor.properties.room.type}}</td>
            <td>{{energyMonitor.properties.room.description}}</td>
            <td>{{energyMonitor.properties.room.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{ipCamera.properties.location.title}} </th>
            <td>{{ipCamera.properties.location.type}}</td>
            <td>{{ipCamera.properties.location.description}}</td>
            <td>{{ipCamera.properties.location.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{ipCamera.properties.time.title}}</th>
            <td>{{ipCamera.properties.time.type}}</td>
            <td>{{ipCamera.properties.time.description}}</td>
            <td>{{ipCamera.properties.time.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{ipCamera.properties.url.title}}</th>
            <td>{{ipCamera.properties.url.type}}</td>
            <td>{{ipCamera.properties.url.description}}</td>
            <td>{{ipCamera.properties.url.readOnly}}</td>
        </tr>
    </tbody>
</table>

