<h1>{{sleep.name}}</h1>
<h3>Description</h3>
{{sleep.description}}
<h2>Properties</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Property</th>
        <th scope="col">Type</th>
        <th scope="col">Description</th>
        <th scope="col">ReadOnly</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{sleep.properties.name.title}} </th>
            <td>{{sleep.properties.name.type}}</td>
            <td>{{sleep.properties.name.description}}</td>
            <td>{{sleep.properties.name.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{sleep.properties.user.title}} </th>
            <td>{{sleep.properties.user.type}}</td>
            <td>{{sleep.properties.user.description}}</td>
            <td>{{sleep.properties.user.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{sleep.properties.address.title}}</th>
            <td>{{sleep.properties.address.type}}</td>
            <td>{{sleep.properties.address.description}}</td>
            <td>{{sleep.properties.address.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{sleep.properties.room.title}} </th>
            <td>{{sleep.properties.room.type}}</td>
            <td>{{sleep.properties.room.description}}</td>
            <td>{{sleep.properties.room.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{sleep.properties.location.title}} </th>
            <td>{{sleep.properties.location.type}}</td>
            <td>{{sleep.properties.location.description}}</td>
            <td>{{sleep.properties.location.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{sleep.properties.time.title}}</th>
            <td>{{sleep.properties.time.type}}</td>
            <td>{{sleep.properties.time.description}}</td>
            <td>{{sleep.properties.time.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{sleep.properties.startDate.title}}</th>
            <td>{{sleep.properties.startDate.type}}</td>
            <td>{{sleep.properties.startDate.description}}</td>
            <td>{{sleep.properties.startDate.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{sleep.properties.endDate.title}}</th>
            <td>{{sleep.properties.endDate.type}}</td>
            <td>{{sleep.properties.endDate.description}}</td>
            <td>{{sleep.properties.endDate.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{sleep.properties.totalSleep.title}}</th>
            <td>{{sleep.properties.totalSleep.type}}</td>
            <td>{{sleep.properties.totalSleep.description}}</td>
            <td>{{sleep.properties.totalSleep.readOnly}}</td>
        </tr>
    </tbody>
</table>

