<h1>{{smartTable.name}}</h1>
<h3>Description</h3>
{{smartTable.description}}
<h2>Properties</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Property</th>
        <th scope="col">Type</th>
        <th scope="col">Description</th>
        <th scope="col">ReadOnly</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{smartTable.properties.name.title}} </th>
            <td>{{smartTable.properties.name.type}}</td>
            <td>{{smartTable.properties.name.description}}</td>
            <td>{{smartTable.properties.name.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{smartTable.properties.user.title}} </th>
            <td>{{smartTable.properties.user.type}}</td>
            <td>{{smartTable.properties.user.description}}</td>
            <td>{{smartTable.properties.user.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{smartTable.properties.address.title}}</th>
            <td>{{smartTable.properties.address.type}}</td>
            <td>{{smartTable.properties.address.description}}</td>
            <td>{{smartTable.properties.address.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{smartTable.properties.room.title}} </th>
            <td>{{smartTable.properties.room.type}}</td>
            <td>{{smartTable.properties.room.description}}</td>
            <td>{{smartTable.properties.room.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{smartTable.properties.location.title}}</th>
            <td>{{smartTable.properties.location.type}}</td>
            <td>{{smartTable.properties.location.description}}</td>
            <td>{{smartTable.properties.location.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{smartTable.properties.time.title}}</th>
            <td>{{smartTable.properties.time.type}}</td>
            <td>{{smartTable.properties.time.description}}</td>
            <td>{{smartTable.properties.time.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{smartTable.properties.foodList.title}}</th>
            <td>{{smartTable.properties.foodList.type}}</td>
            <td>{{smartTable.properties.foodList.description}}</td>
            <td>{{smartTable.properties.foodList.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{smartTable.properties.caloryList.title}}</th>
            <td>{{smartTable.properties.caloryList.type}}</td>
            <td>{{smartTable.properties.caloryList.description}}</td>
            <td>{{smartTable.properties.caloryList.readOnly}}</td>
        </tr>
        <tr>
            <th scope="row">{{smartTable.properties.snapShot.title}}</th>
            <td>{{smartTable.properties.snapShot.type}}</td>
            <td>{{smartTable.properties.snapShot.description}}</td>
            <td>{{smartTable.properties.snapShot.readOnly}}</td>
        </tr>
    </tbody>
</table>

